<footer class="Footer">
  <div class="footer-copywright">© 2023 Blog Poster Inc.</div>
  <ul class="footer-links">
    <li class="footer-link"><a href="http://codyskinner.co">Contact Cody</a></li>
  </ul>
</footer>